body{
/*    display: flex;
    justify-content: center;*/
    padding: 0;
    margin: 0;
}

.Header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    margin-left: 20%;
    margin-right: 20%; 
}

.HeaderUL{
    list-style-type: none;
    display: flex;
    gap:30px;
}
a{
    text-decoration-line: none;
    background-color: #eeee;
    padding: 10px;
    border-radius: 40%;
    border: 2px black solid;
    color: red;
    font-weight: bold;
}

.Icon{
    width: auto;
    height: 50px;
    border: 3px rgb(240, 207, 148) solid;
    border-radius: 80%;
}

.Enterance{
    display: flex;
    justify-content: space-between;
    flex: 1;   
    gap: 100px;
    margin-left: 20%;
    margin-right: 20%;
    padding-bottom: 100px;

}
.Enterance .Info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex: auto;
    min-width: 200px;
    align-self: center;
    width: 350px;
    
}
.Enterance p{
    color:  white;
    font-weight: 400;
}
.Enterance h1{
    color:  white;
    font-weight: 800;
}
.Enterance button{
    align-self: flex-start;
    margin-left: 2px;
    
}
.Enterance img{
    border:solid 1px rgb(160, 133, 82);
    border-radius: 10%;
    max-width: 60%;
    height: auto;
}
.top-part,.footer{
    background-color:#1F2937;
    padding: 0;
    margin: 0;

}

.midtxt{
    text-align: center;
    font-weight: bold;
    font-size: 28px;

}

.top-media ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 16%;
    margin-right: 16%;   
    gap: 40px;

}

.top-media img{
    width: 150px;
    height: 150px;
    border: solid blue 3px;
    border-radius: 20%;
}
.top-media p{
    text-align: center;
}
.quote{
    display: flex;
    background-color: #eeee;
    height: 300px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.quote p{
    margin: 0 17%;
}
.quote .p1{

}
.quote .p2{
    font-weight: 800;
    margin-top: 20px;
    align-self: flex-end;
}

.bot-media{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 130px;
    padding: 20px;
    background-color: blue;
    border: solid black 1px;
    width:  60%;
    height: 30%;
    min-width: 700px;
    margin: 80px auto;
    border-radius: 10px;
}
.footer{
     text-align: center;
     color: white;
     padding: 30px;
}