*{
    font-family: 'Roboto', sans-serif;
}
body{
    padding: 0;
    margin: 0;
}

.top-part{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    margin-left: 12%;
    margin-right: 16%; 
}

.HeaderUL{
    list-style-type: none;
    display: flex;
    gap:30px;
    width: 200px;
   
}
a{
    text-decoration-line: none;
    background-color: rgba(114, 114, 143, 0.362);
    padding: 5px;
    border-radius: 10%;
    border: 2px black solid;
    color: rgb(255, 188, 72);
    border: 3px rgb(255, 188, 72) solid;
    font-weight: bold;
}

.Icon{
    width: auto;
    height: 50px;
    border: 3px rgb(255, 188, 72) solid;
    border-radius: 60%;
    
}

.Enterance{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 30px;
    margin: 0% 12%;
    padding-bottom: 100px;
    margin-top: 20px;
}
 .Info{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;  
    align-self: center;
    flex:1 1 auto;
    width: 300px;
    
}
.Enterance p{
    color:  #F9FAF8;
    font-size: 24px;
    font-weight: 400;
    text-shadow: 0 0 3px  rgb(255, 188, 72);
    flex: 0 0 auto;
 
}
.Enterance h1{
    color:  #F9FAF8;
    font-weight:bolder;
    font-size: 42px;
    align-self: flex-start;
    padding-left: 10px;
}
.Enterance button, .bot-media button{ 

    color:  #F9FAF8;
    background-color: #3882F6;
    font-size: 20px;
    margin-left: 2px;
    font-weight: 600;
    padding: 10px 30px;
    border-radius: 5px;
    border: 2px solid rgb(255, 188, 72);
}
.Enterance button{
    align-self: center;
}
.Enterance img{
    border:solid 2px rgb(160, 133, 82);
    border-radius: 20px;
    width: 60%; 
    height: auto;
    flex: 1 0.8 auto;

}

.top-part,.footer{
    background-color:#1F2937;
    padding: 0;
    margin: 0;
}

.midtxt{
    text-align: center;
    font-weight: bold;
    font-size: 28px;
    color: rgb(255, 188, 72);
}

.top-media ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 10%;
    gap: 10px;

}

.top-media img{
    width: 200px;
    height: 200px;
    border: solid #3882F6 3px;
    border-radius: 20%;
}
.top-media p{
    text-align: center;
    font-weight: bold;
}
.quote{
    display: flex;
    background-color: #E5E7EB;
    height: auto;
    flex-direction: column;
    font-style: italic;
    font-weight:lighter;
}
.quote .p1{
    padding-top: 30px;
    margin: 0 3%;
    font-size: 26px;
}

.quote .p2{
    font-weight: 800;
    margin-top: 40px;
    align-self: flex-end;
    font-size: 22px;
    margin-right: 26%;
    flex: 1;

}

.bot-media{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20%;
    padding: 20px;
    background-color: #3882F6;
    border: solid black 1px;

    width: auto;
    max-height: 200px;
    margin: 80px auto;
    border-radius: 10px;
    
}
.quote .first{
    text-align: center;
    margin-left: 10%;
}
.bot-media button{ 
    border: 2px solid white;
    align-self: center;
}

.footer{
     text-align: center;
     color: white;
     min-height: 100px;
     display: flex;
     flex: auto;
     justify-content: center;
     align-items:center;
}
.footer p{
    padding: 0;
    margin: 0;
    align-self: center;
}
